!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1,user-scalable=no'}
    %link{rel: 'icon', type: 'image/png', href: image_path('icon.png')}
    %link{rel: 'apple-touch-icon', type: 'image/png', href: image_path('icon.jpg')}
    %title Kumonos
    = stylesheet_link_tag 'application'
  %body
    %header
      .container
        %h1= image_tag 'kumonos.png', width: 214, height: 78
        %p.clearfix 我々は、「雲」のように自由自在にその形を変え、風と共に颯爽と舞い、稲妻のようなヒラメキを起こし、感動の雨を降らせる、『RockでCoolでSexyな先鋭クリエイティブ集団』です。
    %section
      .container
        = yield
    %footer
      .container
        &copy; 2014 kumonos all rights reserved
